@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sayfa3</title>
</head>
<body>
    <div>
    </div>
</body>
</html>

@* Eğer bir sayfada Layout özelliği kullanılarak şablon(layout sayfa) yolu belirlenirse o sayfanın şablonu belirtilen yoldaki sayfadır.
   Örnek: Index ve Sayfa sayfaları {Layout="~/Views/Shared/Sablon.cshtmml";}
   Eğer bir sayfada Layout özelliği kullanılarak null olarak belirtildiyse o sayfanın şablonu yoktur.
   Örnek: Sayfa3 sayfası. (Layout = null;)
   Eğer bir sayfada Layout özelliği hiç yazılmadıysa ve projede _ViewStart dosyası varsa o sayfa ViewStart'a belirtilen yolu kullanır.
   Örnek: Sayfa2 sayfası.
*@